.title-lg{
    font: var(--title-lg);
    color: var(--gray-600);
}

.title-md{
    font: var(--title-md);
    color: var(--gray-600);
    
}

.title-sm{
    font: var(--title-sm);
    color: var(--gray-600);
}

.subtitle{
    font: var(--subitle);
    color: var(--gray-500);
}

.text-md{
    font: var(--text-md);
    color: var(--gray-500);
}

.text-sm{
    font: var(--text-sm);
}

.green{
    color:var(--green);
}

.red{
    color: var(--red);
}